{% extends 'registration/base_auth.html' %}

{% load widget_tweaks %}
{% load base_tags %}

{% block title %}ورود به حساب کاربری{% endblock title %}

{% block main %}
	<form class="login100-form validate-form" method="post">
			{% csrf_token %}
			<!--header title-->
			<span class="login100-form-title p-b-49 myfont">ورود</span>
			
			<!--non-field errors-->
			{% field_errors form.non_field_errors %}
				
			<!--username input-->
			<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
					<span class="label-input100 myfont">نام کاربری</span>
					{{ form.username|add_class:"input100" }}
					<span class="focus-input100" data-symbol="&#xf206;"></span>
			</div>
			<!--username errors-->
			{% field_errors form.username.errors %}

			<!--password input-->
			<div class="wrap-input100 validate-input" data-validate="Password is required">
					<span class="label-input100 myfont">رمز عبور</span>
					{{ form.password|add_class:"input100" }}
					<span class="focus-input100" data-symbol="&#xf190;"></span>
			</div>
			<!--password errors-->
			{% field_errors form.password.errors %}
			
			<!--forget password link-->
			<div class="text-right p-t-8 p-b-31">
					<a href="{% url 'password_reset' %}" class="myfont">فراموشی رمز عبور ؟</a>
			</div>
			<!--submit login button-->
			<div class="container-login100-form-btn myfont">
					<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn myfont">ورود</button>
					</div>
			</div>
			<!--sign up link-->
			<div class="text-right p-t-31">
				حساب ندارید ؟ <a href="{% url 'register' %}" class="fs-18 myfont">ثبت نام</a>
			</div>
	</form>

{% endblock main %}