{% extends 'registration/base_auth.html' %}

{% block title %}عملیات با موفقیت انجام شد{% endblock title %}

{% block main %}
	<form class="login100-form validate-form" method="post">
			{% csrf_token %}
			<!--header title-->
			<span class="login100-form-title p-b-49 myfont">تقاضای بازیابی گذرواژه ارسال شد</span>
			
			<!--non-field errors-->
			{% if form.non_field_errors %}
					<div class="errors m-b-20 fs-18">
					{% for error in form.non_field_errors %}
									<span>{{error}}</span>
					{% endfor %} 
					</div>
			{% endif %}

            <!--message-->
            <p class="fs-18 myfont">
                دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.
            </p>
            <p class="fs-18 myfont">
                اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.
            </p>
			
	</form>

{% endblock main %}