{% extends 'registration/base_auth.html' %}

{% block title %}عملیات با موفقیت انجام شد{% endblock title %}

{% block main %}
	<!--header title-->
	<span class="login100-form-title p-b-49 myfont">تقاضای بازیابی گذرواژه ارسال شد</span>

	<!--message-->
	<p class="fs-18 myfont">
		دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.
	</p>
	<p class="fs-18 myfont">
		اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و پوشهٔ اسپم خود را نیز چک کنید.
	</p>

{% endblock main %}