{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
تغییر گذرواژه
{% endblock title-meta %}{% endblock title %}

{% block main %}

<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
		</div>

			<!-- form start -->
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

                    {{form|crispy}}

					<button type="submit" class="btn btn-danger">تغییر گذرواژه</button>

				</form>
			</div>

	</div>
</div>
{% endblock main %}