{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
پروفایل کاربری
{% endblock title-meta %}{% endblock title %}

{% block main %}

<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title mb-0 float-left">پروفایل کاربری</h3>
		</div>

			<!-- form start -->
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}

					<div class="row">
						<div class="col-6">
							{{form.username|as_crispy_field}}
						</div>
						<div class="col-6">
							{{form.email|as_crispy_field}}
						</div>
						<div class="col-6">
							{{form.first_name|as_crispy_field}}
						</div>
						<div class="col-6">
							{{form.last_name|as_crispy_field}}
						</div>
						<div class="col-6">
							{{form.special_subscription|as_crispy_field}}
						</div>
						<div class="col-6">
							{{form.is_author|as_crispy_field}}
						</div>
					</div>

					<button type="submit" class="btn btn-success">ویرایش اطلاعات</button>
					<a href="{% url 'password_change' %}" class="btn btn-danger">تغییر گذرواژه</a>

				</form>
			</div>

	</div>
</div>
{% endblock main %}