@import url(fonts.css);

/*  right to left */
body{
    direction: rtl !important;
    text-align: right !important;
    font-family: Sahel !important;
}

.post-meta{
    text-align: left;
}

.pager-button {
    float: left !important;
}


/* Navbar style */
.menu {
  display: block;
  z-index: 999999;
}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li.dropdown:hover > .submenu {
  display: block;
}
.menu li a {
  display: block;
  padding: 12px 8px;
}
.menu li.dropdown > a::after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
  font-size: 10px;
}
.menu li a::before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
}
.menu li a:hover {
  background: grey;
}

.menu .submenu {
  display: none;
}
.submenu {
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
  list-style-type: none;
  display: block;
  width: 200px;
  z-index: 9;
}
.submenu li {
  display: block;
}
.submenu li a {
  display: block;
  background: #999;
  color: #fff;
  padding: 8px 6px;
  margin-bottom: 1px;
}
.menu .submenu > li.dropdown:hover > .submenu {
  display: block;
}

.menu .submenu .submenu {
  position: absolute;
  right: 200px;
  top: 0px;
}

.submenu li.dropdown > a:after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  margin-right: 8px;
  font-size: 10px;
}

aside{
  width: 400px;
  position: absolute;
  left: -450px;
  top: 0px;
}

/* popular posts */
.popular-posts {
  border: 2px solid #c1c1c1;
  box-shadow: -5px 5px #c1c1c1;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.wrapfooter {
	font-size: 13px;
	display: block;
}

.author-thumb, .meta-footer-thumb img {
	width: 40px;
	height: 40px;
	float: right;
	margin-left: 13px;
	border-radius: 100%;
}

.author-meta {
	flex: 1 1 auto;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	overflow: hidden !important;
}

span.post-date, span.post-read, span.readingtime {
	color: rgba(0,0,0,.54);
}

span.post-name, span.post-date, span.author-meta {
	display: inline-block;
}

.wrapfooter a{
  color:black;
  text-decoration: none;
}