@import url('https://v1.fontapi.ir/css/Sahel');

body{
    direction: rtl !important;
    text-align: right !important;
    font-family: 'Sahel' !important;
}

.myfont {
    font-family: 'Sahel' !important;
}

.errors{
    color: red;
    padding: 20px;
    background-color: rgb(250, 203, 203);
    border-radius: 10px;
}