{% extends 'blog/base.html' %}
{% load static %}
{% load base_tags %}
{% load ratings %}
{% load humanize %}
{% load gravatar %}

{% block main %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'blog/assets/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>وبلاگ من</h1>
                            <!-- <span class="subheading">A Blog Theme by Start Bootstrap</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <div class="container">
            <div class="row">
                {% block header %}{% endblock header %}
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                            <!-- Blog post-->
                            {% for post in object_list %}
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <a href="{% url 'blog:detail' post.slug %}"><img class="card-img-top" src="{{post.thumbnail.url}}" alt="..." /></a>
                                    <div class="card-body">
                                        <div class="small text-muted fst-italic">بازدید ها : {{post.hits.count}}</div>
                                        <h2 class="card-title h4">
                                                {{post.title}}
                                            {% if post.is_special %}
                                                <span class="badge badge-danger fs-5">ویژه</span>
                                            {% endif %}
                                        </h2>
                                        <p class="card-text">{{post.description|striptags|truncatewords:20}}</p>
                                        <a class="btn btn-primary" href="{% url 'blog:detail' post.slug %}">خواندن بیشتر ←</a>
                                        
                                        <!-- post meta-->
                                        <div class="wrapfooter mt-3">
                                            <span class="meta-footer-thumb">
                                                <a href="{% url 'blog:author' post.author.username %}">
                                                    <img alt=""
                                                         src="{% gravatar_url post.author.email 150 %}"
                                                         class="avatar avatar-40 photo jetpack-lazy-image jetpack-lazy-image--handled"
                                                         data-lazy-loaded="1"
                                                         loading="eager"
                                                         width="40"
                                                         height="40">
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name">
                                                    <a href="{% url 'blog:author' post.author.username %}">{{post.author.get_full_name}}</a></span><br>
                                                </span>
                                                <!-- post date -->
                                                <span class="post-date">{{post.publish|date:"d b Y"}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% empty %}
                                <p>محتوایی برای نمایش وجود ندارد !</p>
                            {% endfor %}
                    </div>
                    <!-- Pagination-->
                    {% if is_paginated  %}

                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <!-- #TODO : fix pagination for search box -->
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">صفحه بعد &rarr;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">صفحه بعد &rarr;</a></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">صفحه قبل &larr;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">صفحه قبل &larr;</a></li>
                            {% endif %}                            
                        </ul>
                    </nav>

                    {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">جستجو</div>
                        <div class="card-body">
                            <form class="input-group" action="{% url 'blog:search' %}">
                                <input name="q" class="form-control" type="text" placeholder="عبارت را برای جستجو وارد کنید..." aria-label="عبارت را برای جستجو وارد کنید..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="submit">جستجو</button>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    {% if categories %}
                    <div class="card mb-4">
                        <div class="card-header">دسته بندی ها</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-inline mb-0">
                                        {% for category in categories %}
                                            <li class="list-inline-item"><a href="{% url 'blog:category' category.slug %}">{{category.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Hot Posts widget-->
                    {% popular_posts %}
                    {% star_posts %}
                    {% hot_posts %}

                </div>
            </div>
        </div>

{% endblock %}
