{% extends 'blog/base.html' %}


{% block titile %} - {{object.title}}{% endblock %}

{% block main %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{object.title}}</h1>
                            <span class="meta mt-3">
                                {{object.author.get_full_name}}
                            </span>
                            <span class="meta mt-2">
                                {{object.jpublish}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7 text-justify">
                        <p>{{object.description|linebreaks}}</p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}